{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAI API (seed subset)",
    "version": "1.0.0",
    "description": "A small but representative subset of the OpenAI REST API used to seed Ayiru with multiple endpoint claims for the demo. Schema is valid OpenAPI 3.0.3 so the same Stage 7c.1 ingestion lane that runs against the live spec accepts this verbatim."
  },
  "servers": [{"url": "https://api.openai.com/v1"}],
  "security": [{"bearerAuth": []}],
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Create a chat completion.",
        "description": "Given a list of messages, return a model-generated chat completion.",
        "responses": {"200": {"description": "Chat completion."}}
      }
    },
    "/embeddings": {
      "post": {
        "summary": "Create an embedding.",
        "description": "Convert text or token arrays to a vector embedding.",
        "responses": {"200": {"description": "Embedding."}}
      }
    },
    "/models": {
      "get": {
        "summary": "List available models.",
        "responses": {"200": {"description": "List of models."}}
      }
    },
    "/models/{model_id}": {
      "parameters": [
        {"name": "model_id", "in": "path", "required": true, "schema": {"type": "string"}}
      ],
      "get": {
        "summary": "Retrieve a model.",
        "responses": {"200": {"description": "Model."}}
      },
      "delete": {
        "summary": "Delete a fine-tuned model.",
        "description": "Permanently removes a fine-tuned model the caller owns. Irreversible.",
        "responses": {"204": {"description": "Deleted."}}
      }
    },
    "/files": {
      "get": {
        "summary": "List files.",
        "responses": {"200": {"description": "Files."}}
      },
      "post": {
        "summary": "Upload a file.",
        "responses": {"200": {"description": "Uploaded file."}}
      }
    },
    "/files/{file_id}": {
      "parameters": [
        {"name": "file_id", "in": "path", "required": true, "schema": {"type": "string"}}
      ],
      "get": {
        "summary": "Retrieve a file.",
        "responses": {"200": {"description": "File."}}
      },
      "delete": {
        "summary": "Delete a file.",
        "description": "Removes a previously uploaded file. Irreversible.",
        "responses": {"200": {"description": "Deleted."}}
      }
    },
    "/audio/speech": {
      "post": {
        "summary": "Generate audio from text.",
        "responses": {"200": {"description": "Audio bytes."}}
      }
    },
    "/audio/transcriptions": {
      "post": {
        "summary": "Transcribe audio into text.",
        "responses": {"200": {"description": "Transcript."}}
      }
    },
    "/images/generations": {
      "post": {
        "summary": "Generate an image.",
        "description": "Generate an image from a text prompt. Note: this endpoint may incur per-image cost.",
        "responses": {"200": {"description": "Image."}}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {"type": "http", "scheme": "bearer"}
    }
  }
}
